.home {
  background-color: bisque;
  padding-top: 5px;
}

#heading {
  text-decoration: underline darkblue;
  color: darkblue;
  text-align: center;
  margin-bottom: 90px;
}

#price,
#price1,
#price3,
#price4,
#price2 {
  text-align: center;
  align-items: center;

  padding-left: 200px;
  display: inline;
  border: 14px;
}
button {
  padding-right: 15px;
  margin-left: 15px;
}
.total {
  display: flex;
}
